.root_bar_flex_generator{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50vw;
    height: 10vh;
}
.slider{
    width: 45vw; 
    height: 50vh; 
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
}
.my_works_title{
    text-align: center; 
    font-family: cursive; 
    font-size: 30px;
    font-weight: 300;
    user-select: none;
}
.slider_center{
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    border-radius: 30px;
}
.slider_buttons{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    position: absolute;
}
#pointer{
    cursor: pointer;
    user-select: none;
}
#slider{
    width: 45vw;
    height:50vh;
    display:flex;
    justify-content:space-between;
    background-size:cover;
    align-items:center;   
    position: relative;
}
.sliders{
    bottom:0;
    top:0;
    left:0;
    right:0;
    position:absolute;
    width:45vw;
    height:50vh;
}
#previous{
    transform:rotateY(180deg);   
    cursor: pointer;
    user-select: none;
}
#next{
    z-index:1;
    cursor: pointer;
    user-select: none;
}
#remont_generator_slide1{
    display:none;
    background-image: url("/images/remont_generator_starterov.png");
    background-size: cover;
}
#remont_generator_slide2{
    display:none;
    background-image: url("/images/repair_of_alternators_and_starters.webp");
    background-size: cover;
}
#slider{
    width: 45vw;
    height:50vh;
    display:flex;
    justify-content:space-between;
    background-size:cover;
    align-items:center;   
    position: relative;
}
.sliders{
    bottom:0;
    top:0;
    left:0;
    right:0;
    position:absolute;
    width:45vw;
    height:50vh;
    border-radius: 20px;
    background-size: cover;
    display:none;
}
#slide1{
    /* display: none; */
    background-image: url("/images/generator_1.webp");
}
#slide2{
    /* display: none; */
    background-image: url("/images/generator_2.webp");
}
#slide3{
    /* display: none; */
    background-image: url("/images/generator_3.webp");
}
#slide4{
    /* display: none; */
    background-image: url("/images/generator_4.webp");
}
#slide5{
    /* display: none; */
    background-image: url("/images/generator_5.webp");
}
#slide6{
    /* display: none; */
    background-image: url("/images/generator_6.webp");
}
@media only screen and (max-width:1000px) {
    #slider{
        width: 60vw;
        height: 45vh;
        margin-bottom: 25px;
    }
    .sliders{
        width: 60vw;
        height: 45vh;
        margin-bottom: 25px;
    }
    .root_bar_flex_generator{
        width: 55vw;
    }
    .details_title{
        font-size: 25px;
    }
    #details_name{
        font-size: 19px;
    }
    .details_text{
        font-size:15px;
    }
    .icon{
        width: 14px;
        height: 14px;
    }
}
@media only screen and (max-width:800px){
    .root_bar_flex_generator{
        width: 65vw;
    }
    .main_root{
        font-size: 18px;
    }
}
@media only screen and (max-width:700px) {
    #slider{
        width: 70vw;
        height: 45vh;
        margin-bottom: 25px;
    }
    .sliders{
        width: 70vw;
        height: 45vh;
        margin-bottom: 25px;
    }
    .root_bar_flex_generator{
        width: 72vw;
    }
    .details_title{
        text-align: center;
        margin-left: 0;
        width: 100vw;
    }
    #details_name{
        font-size: 16.5px;
        text-align: center;
    }
    .details_text_title{
        text-align: center;
        margin: 0;
    }
    .details_text{
        font-size:14px;
        text-align: center;
    }
    .details{
        margin-left: 0;
        text-align: center;
        width: 100vw;
    }
}
@media only screen and (max-width:600px){
    .root_bar_flex_generator{
        width: 88vw;
    }
    #slider{
        width: 80vw;
        height: 40vh;
        margin-bottom: 25px;
    }
    .sliders{
        width: 80vw;
        height: 40vh;
        margin-bottom: 25px;
    }
    .sidebar{
        height: 640px;
    }
}
@media only screen and (max-width:450px){
    .root_bar_flex_generator{
        width: 95vw;
    }
    #slider{
        width: 85vw;
        height: 30vh;
        margin-bottom: 25px;
    }
    .sliders{
        width: 85vw;
        height: 30vh;
        margin-bottom: 25px;
    }
    #previous{
        width: 10vw;
        height: 5.5vh;
    }
    #next{
        width: 10vw;
        height: 5.5vh;
    }
}
@media only screen and (max-width:400px){
    .details_title{
        font-size: 20px;
    }
    #details_name{
        font-size: 13px;
        text-align: center;
    }
    .details_text_title{
        text-align: center;
        margin: 0;
    }
    .details_text{
        font-size:11px;
        text-align: center;
    }
    .icon{
        width: 9px;
        height: 9px;
    }
    .root_bar_flex_generator{
        width: 98vw;
    }
    .main_root{
        font-size: 15px;
    }
}
@media only screen and (max-width:350px){
    .root_bar_flex_generator{
        width: 100vw;
    }
    .main_root{
        font-size: 12px;
    }
    .details_title{
        font-size: 17px;
    }
}